# Build outputs
build/
**/build/

# Kotlin
.kotlin/

# Project context files
project_context.txt
project_multi_module_refactor.txt
project_reader.ps1
project_reader.sh

# Android/Gradle
*.iml
.gradle/
local.properties
.DS_Store
/captures
.externalNativeBuild
.cxx

# Android Studio / IntelliJ
.idea/